{% extends "blog/base.html" %}
{% block content %}



    <h1> 상세한걸 원해?? 그럼 잘찾아왔어!!!!!!!</h1>
    <div>
        <h2>{{post.title}}</h2>
        <p>{{post.created_date}}</p>
        <p>{{post.text}}</p>
        <a href = "{% url 'edit' post.id %}">수정하자! 싫음말구!</a>
        <a href = "{% url 'delete' post.id %}">삭제제삭제제삭</a>
    </div>

    <hr>

    <p>댓글!! {{post.comments.count}}개</p>
    <div class="form-group">
        <h4>댓글 작성</h4>
        <form method="POST" action="{% url 'add_comment' post.id%}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type = "submit" class = "save btn btn-default">작성</button>
        </form>
    </div>

    {% for comment in post.comments.all %}
    <div>
        <div>{{comment.created_date}}</div>
        <strong>{{comment.nickname}}</strong>
        {{comment.text|linebreaks}}
        <a href = "{% url 'comment_delete' comment_id=comment.id %}" onclick="return confirm('정말로 삭제하시겠습니까?')">댓글 삭제!!</a>
    </div>
    {% empty %}
    <p>아무 댓글이 없답네다!!!</p>
    {% endfor %}

{% endblock %}