h1{
    color: goldenrod;
    font-family: 'Gugi', cursive;
}

h2{
    color: blueviolet
    font-family: 'Song Myung', serif;
}

h4{
    color:darkblue
    font-family: 'Black And White Picture', sans-serif;
}

p{
    color: brown;
    font-family: 'Gaegu', cursive;
}

a{
    color: coral;
    font-family: 'East Sea Dokdo', cursive;
}